
<div class="container">
	<div class="content">

		<div class="salesText">Global Sales</div>

		<div id="datePicker"></div>

		<div class="formSelect">
			{{ form(form) }}
		</div>

		<div class="table">
			<table id="gridTable">
				<div id="pager">
			</table>
		</div>

	</div>
</div>

{% stylesheets 'bundles/supplier/css/*' filter='cssrewrite' %}
 	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<style>

    .content {
    	margin: 0 auto;
    	margin-top: 10%;
    	width: 500px;
    	position: absolute;
    	display: block;
    }

	.container {
		height: 100%;
		width: 100%;
	}

	.salesText {
		display: block;
	    margin-left: 631px;
	    margin-top: -15px;
	    position: absolute;
	    width: 100%;
	}

    #datepicker {
    	font-size: 62.5%;
    	display: block;
    	position: absolute;
    	margin-left: 245px;
    	margin-top:	41px;
    }

    .formSelect {
    	display: block;
    	position: absolute;
    	margin-left: 450px;
    	margin-top: 10px;
    }

	.table {
		display: block;
		position: absolute;
		margin-left: 450px;
		margin-top: 41px;
	}
</style>

{% javascripts
	'@SupplierBundle/Resources/public/js/jquery-1.9.0.min.js'
	'@SupplierBundle/Resources/public/js/*' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">

		$('#country_countries').on('change', function() {
			grid.setGridParam({
				postData: {
					countryId: $(this).val()
				}
			}).trigger('reloadGrid');
		});

		$('#datePicker').datepicker();

		var path = '{{ path("supplier_productData") }}';
		var grid = $('#gridTable');
		grid.jqGrid({
			url: path,
			datatype: 'json',
			height: 'auto',
		   	colNames:['Index' ,'Product','Units Sold', 'Total Cost', 'Total Revenue','Total Profit'],
		   	colModel:[
		   		{name:'id', index:'id', width:60, sorttype:"int", hidden: true },
		   		{name:'name', index:'name', width:100, align:'center'},
		   		{name:'totalUnits', index:'units', width:100, align:'center', sorttype:'int'},
		   		{name:'totalCost',index:'cost', width:100, align:'center ',sorttype:'float'},
		   		{name:'totalRevenue',index:'revenue', width:120, align:'center',sorttype:'float'},
		   		{name:'profit',index:'profit', width:100,align:"center",sorttype:'float'}
		   	],
		   	rowNum: 5,
		   	rowList: [5, 10, 20],
		   	pager: '#pager',
		   	jsonReader: {
		   	    root: 'rows',
		   	    page:  'page',
		   	    total: 'total',
		   	    records: 'records'
		   	}
		   	// lastPage: 'lastPage',
		   	// 
		   	// Set cell color/font
		   	/*loadComplete: function() {
                var columnNames = grid.jqGrid('getGridParam', 'colNames');
                var ids = grid.jqGrid('getDataIDs');
                for (var j=0;j<columnNames.length;j++){
                	var column = columnNames[j];
                	for (var i=0;i<ids.length;i++) {
                	    var id=ids[i];
                	    if (grid.jqGrid('getCell',id,column) === '') {
                	     	grid.jqGrid('setCell',id,column, '', {'background-color':'#DDDDDD'});

                	    }
                	}
                }
            }*/
            // Label page size
            // loadComplete: function () {
            // 	$('.ui-pg-selbox').closest("td").before("<td dir='ltr'>Page size</td>");
            // }

		});
</script>