<table id="gridTable">
	<div id="pager">
</table>

{% stylesheets 'bundles/supplier/css/*' filter='cssrewrite' %}
 	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts
	'@SupplierBundle/Resources/public/js/jquery-1.9.0.min.js'
	'@SupplierBundle/Resources/public/js/*' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">

		var path = '{{ path("supplier_homepage") }}';
		$('#gridTable').jqGrid({
			url: path,
			datatype: 'json',
		   	colNames:['Product','Units Sold', 'Total Cost', 'Total Revenue','Total Profit'],
		   	colModel:[
		   		{name:'name', index:'name', width:100, align:'center'},
		   		{name:'units', index:'units', width:100, align:'center', sorttype:'int'},
		   		{name:'cost',index:'cost', width:100, align:'center ',sorttype:'float'},
		   		{name:'revenue',index:'revenue', width:100, align:'center',sorttype:'float'},
		   		{name:'profit',index:'profit', width:100,align:"center",sorttype:'float'}
		   	],
		   	rowNum: 10,
		   	rowList: [10, 20, 30],
		   	pager: '#pager',
		   	viewrecords: true,
		});
	</script>